<%= form_for new_speak_url do |msg| %>

    <div class = "Field">
        <%= msg.label :name %>
        <%= msg.text_field :name, class: "form__input", required: true, placeholder: 'Como podemos lhe chamar?' %>
    </div>

    <div class = "Field">
        <%= msg.label :email %>
        <%= msg.text_field :email %>
    </div>

    <div class = "Field">
        <%= msg.label :message %>
        <%= msg.text_field :message %>
    </div>

    <div class = "Field">
        <%= msg.label :subject %>
        <%= msg.text_field :subject %>
    </div>

    <div class = "Field">
        <%= msg.label :number %>
        <%= msg.text_field :number %>
    </div>

    <div class = "Actions">
        <%= msg.submit %>
    </div>
<% end %>